@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  line-height: 1.8rem;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

article {
  padding:0 1em;
}

section{
  margin-top: 30px;
}

header, main, footer {
  margin: 0 auto;
}

header {
  color: whitesmoke;
  background-size: cover;
  background-image: url('https://png.pngtree.com/background/20210709/original/pngtree-simple-office-supplies-advertising-background-picture-image_946453.jpg' );
  background-position: fixed;
  text-align: center;
  height: auto;
  margin-bottom: 40px;
}

header section {
  margin: 0 auto;
}

 header img {
  max-width: 150px;
  height: auto;
  border: 4px solid white;
  border-radius: 50%;
  margin-top: 15px;

}

h1 {
  text-transform: uppercase;
  margin-bottom: px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
/*
.course {
}

.course .title {
}
*/
.course .descrition p{
  padding-left: 1em;
  margin-top: 0;
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
