
@import url('https://fonts.googleapis.com/css?family=Raleway');*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
   line-height: 1.8em;
  margin: 5;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: 
  url('https://github.com/nownat/nownat.github.io/blob/master/img/Build-your-dream-desk-setup-with-these-desk-gadgets-and-accessories-featured-768x432.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
    border-radius: 50%;
    max-width: 150px;

}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}


ul.job-description li:before{
  content: "✔";
  padding-right: 0.5em;
  color: #509e98;
}

.school span, .job-title span {
  color: #889499;
  text-decoration: underline;
}

footer {
 padding: 1em;
}


